<DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Shopping List App</title>
		
	</head>
	<style>
		.strikeout {
			text_decoration: line-through;
			color:gray;
		}

	li {
		display: list-item;
		text-align: -webkit-match-parent;
	}
	</style>
	<body>
		<div id="shopping-list">
			<div class="header">
				<h1>{{ header.toUpperCase() }}</h1>
				<button v-if="state === 'default'" class="btn btn-primary" @click="changeState('edit')">Add Item</button>
				<button v-else class="btn btn-cancel" @click="changeState('default')">Cancel</button>
			</div>
			<div v-if="state === 'edit'" class="add-item-form">
				<input type="text" v-model="newItem" placeholder="Add an item" >
				<p>{{ characterCount }}/200</p>
				<button class="btn btn-primary" :disabled="newItem.length === 0" v-on:click="saveItem">Save Item</button>
			</div>
				<ul>
					<li v-for="item in reversedItems" :class="{strikeout: item.purchased}">{{ item.label}}</li>
				</ul>
				<p v-if="items.length === 0"> Nice job! You've bought all your items </p>
				<a v-bind:href="newItem"target="_blank">Dynamic Link</a>
		</div>
		<script src="https://unpkg.com/vue"></script>
		<script>
			var shoppingList = new Vue({
				el: '#shopping-list',
				data: {
					state: 'default',
					header: 'shopping list app',
					newItem: '',
					items: [
						{
							label: '10 party hats',
							purchased: false,
						},
						{
							label: '2 board games',
							purchased: true,
						},
						{
							label: '20 cups',
							purchased: false,
						},
					]
				},
				computed: {
					characterCount(){
						return this.newItem.length;
					},
				

				
					reversedItems(){
						return this.items.slice(0).reverse();
					},
				},

				


				methods: {
					saveItem: function() {
						this.items.push({
							label: this.newItem,
							purchased: false,
						},);
						this.newItem='';
					},
					changeState: function(newState) {
						this.state=newState;

						this.newItem = '';
					}
				}
			});
		</script>
	</body>
</html>